<!-- <table class="tabel">
    <tr>
        <th>STT</th>
        <th>Tên</th>
        <th>Giá</th>
        <th>Sale</th>
    </tr>
    <tr *ngFor="let trai of traiCay ;let i =index">
        <td>{{i+1}}</td>
        <td>{{trai.ten | uppercase}}</td>
        <td class="right">
            <span [ngClass]="{'so-am':trai.gia<0}">{{trai.gia}}</span>
        </td>
        <td>
            <span>{{trai.sell | onSale}}</span>
        </td>
    </tr>
</table> -->

Tỉnh / Thành phố:
<select name="" id="city" (change)="changeCity($event)">
    <option value="{{data.city}}" *ngFor="let data of dataVietnam">{{data.city}}</option>
</select>
<br/>
Quận / Huyện:
<select name="" id="district" >
    <option value="{{district}}" *ngFor="let district of districts">{{district}}</option>
</select>
Thị / Xã / Phường :
<select name="" id="street" >
    <option value="{{district}}" *ngFor="let district of districts">{{district}}</option>
</select>

